<h4 class="p-3 fw-bold fontColor">Ticket de compra</h4>

<div class="ticket">
  <div class="stub">
    <div class="top">
      <span class="admit">N° TICKET</span>
      <span class="line"></span>
    </div>
    <span class="num">{{value.codeTicket}}</span>
    
  </div>
  <div class="check">
    <div class="big">
      Purchase done.
    </div>
    
    <div class="info">
      <section class="mx-3">
        <div class="title">Timestamp</div>
        <div>{{value.timestamp}}</div>
      </section>    
      <section class="mx-3">
        <div class="title">Amount</div>
        <div>${{value.amount}}</div>
      </section>

    </div>
  </div>
</div>

<h3 class="p-3 fw-bold fontColor">DETALLE DE LA COMPRA</h3>

    <div class="container-fluid fontColor">
        
            <div>
            
                <table class="table">
                    <thead class="">
                        <tr class="text-center fontColor">
                            <th class="col1">ID Producto</th>
                            <th class="col1">Cantidad</th>
                            <th>Nombre del producto</th>
                            <th>Descripción</th>
                            <th>Código</th>
                            <th>Imagen</th>
                            <th class="col1">Precio unitario</th> 
                        </tr>
                    </thead>
                    <tbody>
                        {{#each cart.products}}  
                            <tr class="text-center align-middle fontColor">
                                <td class="col1">
                                    <input type="hidden" name={{this._id.id}} value={{this._id.id}}>
                                    {{this._id.id}}
                                </td>
                                <input type="hidden" class="productQtyInput2" id={{this._id.id}} value={{this.quantity}}>
                                <td class="col1 groupButtons">
                                    {{this.quantity}}
                                </td>
                                <td>
                                    {{this._id.title}}
                                </td>
                                <td>
                                    {{this._id.description}}
                                </td>
                                <td>
                                    {{this._id.code}}
                                </td>
                                <td>
                                    <img class="rounded mx-auto d-block imagenProducto" src={{this._id.thumbnail}}>
                                </td>
                                <td class="col1">
                                    $ {{this._id.price}}
                                </td>

                            </tr>
                        {{/each}}
                    </tbody>
                </table>

            

            </div>
 
            
    </div>

